openapi: 3.0.3
info:
  title: API.Rasp.Yandex.Net
  description: API Яндекс.Расписаний
  version: 3.0.0
servers:
- url: https://api.rasp.yandex.net
tags:
- name: Список ближайших станций
  description: Список ближайших станций
paths:
  /v3.0/search/:
    get:
      tags:
      - getSearch
      summary: Расписание рейсов между станциями
      operationId: getSearch
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: from
        in: query
        description: Код станции отправления
        required: true
        schema:
          type: string
      - name: to
        in: query
        description: Код станции прибытия
        required: true
        schema:
          type: string
      - name: date
        in: query
        description: Дата
        required: false
        schema:
          type: string
      - name: transfers
        in: query
        description: transfers
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResults'
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v3.0/stations_list/:
    get:
      tags:
        - getStationsList
      summary: Список всех станций
      operationId: getStationsList
      parameters:
        - name: apikey
          in: query
          description: API key
          required: true
          schema:
            type: string
      responses:
        "200":
          description: success
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/StationsList'
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            error_code:
              type: string
            http_code:
              type: integer
            request:
              type: string
            text:
              type: string
    SearchResults:
      type: object
      properties:
        segments:
          type: array
          items:
            $ref: '#/components/schemas/Segment'
    StationsList:
      type: object
      properties:
        countries:
          type: array
          items:
            type: object
            properties:
              regions:
                type: array
                items:
                  type: object
                  properties:
                    settlements:
                      type: array
                      items:
                        $ref: '#/components/schemas/Settlement'
                    codes:
                      type: object
                      properties:
                        esr_code:
                          type: string
                        yandex_code:
                          type: string
                        title:
                          type: string
              codes:
                type: object
                properties:
                  esr_code:
                    type: string
                  yandex_code:
                    type: string
              title:
                type: string
    Segment:
      type: object
      properties:
        thread:
          type: object
          properties:
            carrier:
              $ref: '#/components/schemas/Carrier'
        has_transfers:
          type: boolean
        duration:
          type: integer
        departure:
          type: string
        arrival:
          type: string
        start_date:
          type: string
    Station:
      type: object
      properties:
        title:
          type: string
        transport_type:
          type: string
        station_type:
          type: string
        codes:
          type: object
          properties:
            esr_code:
              type: string
            yandex_code:
              type: string
    Settlement:
      type: object
      properties:
        title:
          type: string
        codes:
          type: object
          properties:
            esr_code:
              type: string
            yandex_code:
              type: string
        stations:
          type: array
          items:
            $ref: '#/components/schemas/Station'
    Carrier:
      type: object
      properties:
        code:
          type: number
        contacts:
          type: string
        url:
          type: string
        title:
          type: string
        phone:
          type: string
        codes:
          type: object
          properties:
            icao:
              type: string
            sirena:
              type: string
            iata:
              type: string
        address:
          type: string
        logo:
          type: string
        email:
          type: string
